<!DOCTYPE html>
<html>

	<head>
		<title></title>
		<meta charset="utf-8" />
		<script src="/static/js/jQuery/jquery-1.11.0.js"></script>
		<link rel="stylesheet" href="/static/css/tar.css" />
		<script src="/static/js/new_file.js"></script>
	</head>

	<body>
		<div id='b'>
			name:<input type="text" name="name" /> email:
			<input type="text" name="email" /></div>
		<div class="top">
			<h1>Welcome!Mister</h1></div>

		<div class="guide">
			<ul>
				<li>
					<a href="/">home</a>
				</li>
				<li>
					<a href="#">CONTENT</a>
				</li>
				<li>
					<a href="#">NEWS</a>
				</li>
				<li>
					<a href="#">CONNETC</a>
				</li>
				<li>
					<a href="#">ABOUT</a>
				</li>
			</ul>
		</div>
		<div class="box">
			<p id='changefont'>。。。</p><br />
			<p>test</p><br />
			<p>test</p><br />
			<p>test</p><br />
			<p>test</p><br />
		</div>

		<button id='a'>隐藏</button>
		<button id='c'>显示</button>
		<button id='d'>隐藏显示轮换</button>
		<button id='e'>渐变隐藏</button>
		<button id='f'>渐变显示</button>
		<button id='g'>渐变轮换</button>
		<button id='h'>渐变到</button><br />
		<button id='aa'>向上滑动</button>
		<button id='bb'>向下滑动</button>
		<button id='cc'>滑动轮换</button>
		<button id='bbb'>点我test</button>
		<button id='changefont1'>点我test2</button><br />
		<button id='dd'>点我滑动</button>
		<div id='ee'>123
		</div>
			<button id='ff'>点我</button>&nbsp;<button id='aaa'>点我停止</button>
			<div id ='gg'></div>

			<div>
				<p id='text'>text text text text text text text <b>text123</b> text text text text text text</p>
				<button id='ccc'>点我查看text()</button>
				<button id='ddd'>点我查看html()</button><br />
				<a href="/" id='link'>www.baidu.com</a>
				<button id='eee'>查看属性attr</button>
			</div>
			<p id='fff'>11111test</p>
			<p id='ggg'>22222test</p>
			<p>name</p>
        <input type="text" id='input' value="John walson" />

		<button id='set_text'>set text</button>
		<button id='set_html'>set html</button>
		<button id='set_value'>set value</button><br /><br /><br />
		<p id='hhh'>test123456</p><br />
		<button id='set_text_callback'>点我测试回调函数</button>
	</body>

</html>